.form-label:has(+ .form-control:required)::after {
    content:' *';
    color:red;
}

.form-label:has(+ .form-select:required)::after {
    content:' *';
    color:red;
}

.form-label:has(+ div.input-group > input.form-control:required)::after {
    content:' *';
    color:red;
}

i[class^='fa-'], i[calss*='fa-'] {
    cursor: pointer;
}

.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}

.preview-images-zone:empty {
    border: 0px;
    min-height:0px;
    max-height:0px;
    padding:0px;
    width:0%;
}

.preview-images-zone > .preview-image:first-child {
    height: 185px;
    width: auto;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    height: 90px;
    width: auto;
    object-fit: contain;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}

.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}